@use '@/styles/variables.scss';

.contactList {
  padding: 1rem;
}

.title {
  color: variables.$color-primary;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  transition: background-color 0.3s ease;
  position: sticky;
  z-index: 999;
  top: 0; 
  background: #fff;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navElements {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.searchMobile {
  display: none;
  padding: 1rem;

  @media (max-width: 768px) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}


.searchDesktop {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.contactListContainer {
  width: 100%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 768px) {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.btnSortWrap {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;

  .btnSort {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
}
