@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



// Colors
$color-primary: #3559E0;
$color-dark-blue: #1e3eb1;
$color-secondary: #1c1c1c;
$color-background: #f7f7f7;
$color-text: #333;
$color-dark-grey: #656565;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Fonts
$font-family-base: 'Poppins', sans-serif;

$fs14: 0.875rem;
$fs16: 1rem;
$fs18: 1.125rem;
$fs20: 1.25rem;

